extends layout

block content  
  h1 #{title}
  h2 The overall sentiment for #{subtitle} is #{overallSentiment}.



  //- p Positive sentiment counter: #{positiveSentiment}
  //- p Negative sentiment counter: #{negativeSentiment}
  //- p Neutral sentiment counter: #{neutralSentiment}

  div.chartDisp
  script.
    var negSentimentCount = JSON.parse('!{JSON.stringify(negativeSentiment)}');
    var neuSentimentCount = JSON.parse('!{JSON.stringify(neutralSentiment)}');
    var posSentimentCount = JSON.parse('!{JSON.stringify(positiveSentiment)}');

  canvas(id="chart")
  //- Load chart.js
  script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0/dist/Chart.min.js")
  script(src="javascripts/chart.js")

  div.tweetDisp
    h2 Positive Sentiment Tweets
    div.posTweets
      ol
        each val in positiveTweets
          li= val

    h2 Neutral Sentiment Tweets
    div.posTweets
      ol
        each val in neutralTweets
          li= val

    h2 Negative Sentiment Tweets
    div.posTweets
      ol
        each val in negativeTweets
          li= val

